@use "../../styles/global" as *;
@use "../../styles/font" as *;
@use "../../styles/mixin" as *;

.home {
    text-align: center;
    padding: 1rem;

    .events-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        padding: 2rem 0rem;
    }

    .loading {
        font-size: 1.5rem;
        color: $grey;
        @include body-font;
    }
}
