@use "../../styles/global" as *;
@use "../../styles/font" as *;
@use "../../styles/mixin" as *;

.home {
    text-align: center;
    padding: 2rem;

    .hero {
        background: linear-gradient(to right, $yellow, $lightyellow);
        padding: 3rem;
        border-radius: 10px;
        margin-bottom: 2rem;
        color: $grey;

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .events-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        padding: 2rem;
    }

    .loading {
        font-size: 1.5rem;
        color: $grey;
    }
}
