
@use "../../styles/global" as *;
@use "../../styles/font" as *;
@use "../../styles/mixin" as *;

.create-event__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    
    form {
        background: lighten($grey, 5%);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 400px;

        h2 {
            margin-bottom: 1rem;
            color: $white;
            @include body-font;
            font-size: 1.5rem;
        }

        .error {
            color: red;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
            @include body-font;
            text-transform: uppercase;
        }

        .input__group {
            text-align: left;
            margin-bottom: 1rem;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 0.3rem;
                color: $white;
                @include body-font;
            }

            input, textarea {
                width: 100%;
                padding: 0.5rem 0rem;
                border: 1px solid $lightgrey;
                border-radius: 5px;
                font-size: 1rem;
                background: darken($grey, 6%);
                color: $white;
                text-align: left;
                text-indent: 0.6rem;
                @include body-font;

                &:focus {
                    outline: none;
                    border-color: $yellow;
                }
            }
        }

        .submit__btn {
            width: 100%;
            padding: 0.7rem;
            background: $yellow;
            border: none;
            color: $grey;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
            margin-top: 0.5rem;

            &:hover {
                background: darken($yellow, 20%);
            }
        }
    }
}
